{% extends 'base.html' %}
{% block body %}
    <script src="https://kit.fontawesome.com/f61b7cd9a7.js" crossorigin="anonymous"></script>
    <style>
    ul{
        padding: 20px 0;
    }
    </style>



    <ul class="nav justify-content-center nav-dark bg-dark">
        <!-- Search form -->
        <form class="d-flex">
            <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
        </form>
    </ul>

    {% if query %}
    <div class="container">
        <div class="row">
            <h1>{{ count }} results for {{ query }}</h1>
            <hr>
            <ul>
                {% for qs in result_list %}
                    <li>{{ qs.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

{% endblock %}